@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Manrope', sans-serif;
    background-color: black;
    color: white;
}

h2 {
    font-size: 28px;
    font-weight: 700;
}

footer {
    background-color: #1a1919;
}